.parent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.cartItems {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: scroll;
  align-items: flex-start;
}

.container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text {
  color: #00573f;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.checkoutContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 170px;
  width: 400px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.textItems {
  display: flex;
  flex-direction: column;
}

.itemCount {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.total {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: right;

  color: #00573f;
}

.checkBtn {
  justify-content: center;
}
