@import "./colors.scss";
@import "./NavigationBarIcons.scss";

$active-entry-color: rgba(223, 255, 22, 0.2);
$inactive-color: rgba(255, 255, 255, 0.5);

.navigationBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: $primary-green;
  width: 252px;
  height: 100%;
}

.navigationBarIcon {
  background-color: $inactive-color;
  mask-size: 25px;
  mask-position: center;
  mask-repeat: no-repeat;
  width: 25px;
  height: 25px;
  padding: 35px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  flex-grow: 15;
}

.greeterContainer {
  height: 100px;
  flex-grow: 1;
  display: grid;
  .greet {
    grid-column: 1;
    grid-row: 1;
    color: white;
    opacity: 0.1;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
  }

  .name {
    grid-column: 1;
    grid-row: 1;
    color: $primary-yellow;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    transform: translateY(30%);
  }
}

.entryContainer {
  width: 232px;
  margin: 5px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: auto;
  cursor: pointer;

  p {
    padding: 3px;
    font-size: 13px;
    line-height: 20px;
    color: $inactive-color;
  }
}
.entryContainer:hover {
  p {
    color: $primary-yellow;
  }

  .navigationBarIcon {
    background-color: $primary-yellow;
  }
}

.activeEntry {
  border-radius: 10px;
  background-color: $active-entry-color;
  cursor: pointer;

  p {
    font-style: normal;
    font-weight: 700;
    color: $primary-yellow;
  }

  .navigationBarIcon {
    background-color: $primary-yellow;
  }
}

@media screen and (max-width: 650px) {
  .logo {
    display: none;
    justify-content: center;
    padding: 8px;
  }
  .navigationBar {
    width: 100%;
    height: 60px;
    padding: 10px;
    flex-direction: row;
  }

  .listContainer {
    flex-direction: row;
    margin-top: 0px;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .entryContainer {
    width: auto;
    height: auto;
    padding: 10px;
    p {
      display: none;
    }
  }
  .navigationBarIcon {
    padding: 0px;
  }

  .activeEntry {
    background-color: transparent;
  }
}
