.heart {
  mask-image: url("../assets/Icons/NavigationBarIcons/heart.png");
}

.heartOpaque {
  mask-image: url("../assets/Icons/NavigationBarIcons/heart-opaque.png");
}

.search {
  mask-image: url("../assets/Icons/NavigationBarIcons/search.png");
}

.searchOpaque {
  mask-image: url("../assets/Icons/NavigationBarIcons/search-opaque.png");
}

.user {
  mask-image: url("../assets/Icons/NavigationBarIcons/user.png");
}

.userOpaque {
  mask-image: url("../assets/Icons/NavigationBarIcons/user-opaque.png");
}

.shoppingCart {
  mask-image: url("../assets/Icons/NavigationBarIcons/shopping-cart.png");
}

.shoppingCartOpaque {
  mask-image: url("../assets/Icons/NavigationBarIcons/shopping-cart-opaque.png");
}

.search {
  mask-image: url("../assets/Icons/NavigationBarIcons/search.png");
}

.searchOpaque {
  mask-image: url("../assets/Icons/NavigationBarIcons/search-opaque.png");
}

.house {
  mask-image: url("../assets/Icons/NavigationBarIcons/house.png");
}

.houseOpaque {
  mask-image: url("../assets/Icons/NavigationBarIcons/house-opaque.png");
}
